body,
#top-nav,
.nav-item {
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease;
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}

#hovered-icon-text {
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

body {
  font-family: "Varela Round", sans-serif;
  margin: 0;
  font-size: 14px;
}

nav {
  height: 70px;
  border-bottom: 1px solid #daded4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 999;
}

.hidden {
  display: none;
}

.tooltip {
  display: none;
}

#hovered-icon-text {
  font-size: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
  padding: 0 10px 0 10px;
}

#hovered-icon-text:not(.visible) {
  opacity: 0;
}

#hovered-icon-text.visible {
  opacity: 1;
}

.nav-item {
  font-size: 2rem;
  width: 70px;
  height: 70px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

.nav-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#top-nav .nav-icons {
  border-right: #2f4858 1px solid;
}

main {
  height: 100%;
  padding: 20px;
  margin: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.page-trick-name {
  text-align: center;
}

section {
  margin: auto;
  text-align: justify;
}

#trick-of-the-week {
  float: left;
  margin-right: 50px;
}

.trick-card {
  border: 2px solid #2f4858;
  border-radius: 5px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.card-title {
  text-align: center;
}

.page-header {
  text-align: center;
  font-size: 3rem;
}

.trick-canvas {
  background-color: #2f4858;
  width: 200px;
  height: 250px;
}

.trick-container {
  text-align: center;
}

.trick-card-wrapper {
  display: inline-block;
}

.trick-desc-wrapper {
  display: inline-block;
  position: relative;
  vertical-align: top;
  width: 0;
  height: 0;
}

.trick-desc-alone {
  display: block;
  border: 2px solid #2f4858;
  border-radius: 5px;
  margin-left: 10px;
  padding: 5px;
  width: 200px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.trick-desc {
  height: 50px;
}

.trick-card > .trick-desc {
  border-top: 2px solid #2f4858;
}

.trick-desc {
  text-align: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.trick-desc > div {
  padding: 5px;
}

footer {
  border: 1px solid #daded4;
  text-align: center;
  padding: 20px;
}
/*# sourceMappingURL=main.css.map */