$light-color: #ffffff;
$light-border-color: #daded4;
$dark-border-color: #2f4858;
$nav-height: 70px;
$footer-height: 70px;

body,
#top-nav,
.nav-item {
  transition: color 0.5s ease;
  transition: background-color 0.5s ease;
}

#hovered-icon-text {
  transition: opacity 0.5s ease;
}

.juggler-ball {
  transition: fill ease 0.5s;
}
html, body {
  height: 100%;
  margin: 0;
}

body {
  font-family: "Varela Round", sans-serif;
  margin: 0;
  font-size: 14px;
  display: flex;
  flex-direction: column;
}

nav {
  height: $nav-height;
  border-bottom: 1px solid $light-border-color;
  display: flex;
  flex-direction: row;
  position: sticky;
  top: 0;
  z-index: 999;
}



.hidden {
  display: none;
}

.tooltip {
  display: none;
}

#hovered-icon-text {
  font-size: 1.2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: $nav-height;
  padding: 0 10px 0 10px;
}

#hovered-icon-text:not(.visible) {
  opacity: 0;
}

#hovered-icon-text.visible {
  opacity: 1;
}

.nav-item {
  font-size: 2rem;
  width: $nav-height;
  height: $nav-height;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: flex;
  cursor: pointer;
}

.nav-icons {
  display: flex;
  flex-direction: row;
}

#top-nav .nav-icons {
  border-right: 1px solid;
}

#mobile-nav {
  height: $nav-height;
  width: 100%;
}

#mobile-nav .nav-dropdown {
  width: 100%;
  position: relative;
  top: $nav-height;
  left: 0;
}

.nav-dropdown {
  list-style: none;
  margin: 0;
}

.nav-dropdown li {
  width: 100%;
  display: block;
  height: $nav-height;
  font-size: 1.4rem;
}

#nav-toggle {
  position: absolute;
}

main {
  width: 100%;
  margin: 0;
  flex: 1 0 auto;
}

.page-trick-name {
  text-align: center;
}

section {
  margin: auto;
  text-align: justify;
}

#trick-of-the-week {
  float: left;
  margin-right: 50px;
}

.trick-card {
  border: 2px solid ;
  border-radius: 5px;
  width: fit-content;
}

.card-title {
  text-align: center;
}

.page-header {
  text-align: center;
  font-size: 3rem;
}

.trick-canvas {
  background-color: $dark-border-color;
  width: 200px;
  height: 250px;
}

.trick-container {
  text-align: center;
}
.trick-card-wrapper {
  display: inline-block;
}

.trick-desc-wrapper {
  display: inline-block;
  position: relative;
  vertical-align: top;
  width: 0;
  height: 0;
}

.trick-desc-alone {
  display: block;
  border: 2px solid ;
  border-radius: 5px;
  margin-left: 10px;
  padding: 5px;
  width: 200px;
  height: fit-content;
}

.trick-desc {
  height: 50px;
}

.trick-card > .trick-desc {
  border-top: 2px solid ;
}

.trick-desc {
  text-align: center;
  height: fit-content;
}

.trick-desc > div {
  padding: 5px;
}

footer {
  height: $footer-height;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-top: 1px solid;
}
