body,
#top-nav,
.nav-item {
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease;
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}

#hovered-icon-text {
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

.juggler-ball {
  -webkit-transition: fill ease 0.5s;
  transition: fill ease 0.5s;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  font-family: "Varela Round", sans-serif;
  margin: 0;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

nav {
  height: 70px;
  border-bottom: 1px solid #daded4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 999;
}

.hidden {
  display: none;
}

.tooltip {
  display: none;
}

#hovered-icon-text {
  font-size: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
  padding: 0 10px 0 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#hovered-icon-text:not(.visible) {
  opacity: 0;
}

#hovered-icon-text.visible {
  opacity: 1;
}

.nav-item {
  font-size: 2rem;
  width: 70px;
  height: 70px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

.nav-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#top-nav .nav-icons {
  border-right: 1px solid;
}

#mobile-nav {
  height: 70px;
  width: 100%;
}

#mobile-nav .nav-dropdown {
  width: 100%;
  position: relative;
  top: 70px;
  left: 0;
}

.nav-dropdown {
  list-style: none;
  margin: 0;
}

.nav-dropdown li {
  width: 100%;
  display: block;
  height: 70px;
  font-size: 1.4rem;
}

#nav-toggle {
  position: absolute;
}

main {
  width: 100%;
  margin: 0;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.page-trick-name {
  text-align: center;
}

section {
  margin: auto;
  text-align: justify;
}

#trick-of-the-week {
  float: left;
  margin-right: 50px;
}

.trick-card {
  border: 2px solid;
  border-radius: 5px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.card-title {
  text-align: center;
}

.page-header {
  text-align: center;
  font-size: 3rem;
}

.trick-canvas {
  background-color: #2f4858;
  width: 200px;
  height: 250px;
}

.trick-container {
  text-align: center;
}

.trick-card-wrapper {
  display: inline-block;
}

.trick-desc-wrapper {
  display: inline-block;
  position: relative;
  vertical-align: top;
  width: 0;
  height: 0;
}

.trick-desc-alone {
  display: block;
  border: 2px solid;
  border-radius: 5px;
  margin-left: 10px;
  padding: 5px;
  width: 200px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.trick-desc {
  height: 50px;
}

.trick-card > .trick-desc {
  border-top: 2px solid;
}

.trick-desc {
  text-align: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.trick-desc > div {
  padding: 5px;
}

.slider-wrapper {
  width: 100%;
  padding: 20px 0 20px 0;
}

.trick-slider {
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  border-radius: 5px;
  width: 100%;
  height: 5px;
  outline: none;
  opacity: 0.7;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}

.trick-slider:hover {
  opacity: 1;
}

.trick-slider::-moz-range-thumb,
.trick-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
  -moz-appearance: none;
       appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid;
  cursor: pointer;
}

footer {
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-top: 1px solid;
}
/*# sourceMappingURL=main.css.map */